<ul>
  <% @rewards.each do |reward| %>
    <li>
      <%= link_to reward.name, admin_reward_path(reward) %>
      <%= link_to 'Edit Reward', edit_admin_reward_path(reward) %>
    </li>
  <% end %>
</ul>