/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require reset
 *= require_tree .
 *= require_self
 */

colorz {
  color: rgba(227, 92, 20, 1);
  color: rgba(19, 25, 25, 1);
  color: rgba(39, 61, 59, 1);
  color: rgba(118, 199, 198, 1);
  color: rgba(193, 225, 237, 1);
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  background-color: rgba(193, 225, 237, .8);
}

header {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 36px;
  width: 100%;
}

.container {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
}

div {
  display: flex;
}

nav {
  color: rgba(193, 225, 237, .7);
  color: white;
  background-color: rgba(227, 92, 20, .8);
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 20px;
}

nav a {
  text-decoration: none;
  padding: 5px 15px;
  color: inherit;
}

nav a:hover {
  background: rgba(255, 255, 255, .5);
  border-radius: 5px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  order: 2;
  padding: 0 20px;
  font-size: 18px;
}

.nav-left {
  flex: 2;
  order: 1;
  padding: 10px;
}

.log-in,
.new-user,
.new-reward {
  background: rgba(193, 225, 237, .7);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
}

.login-note {
  margin: 10px;
  text-align: center;
  background: rgba(227, 92, 20, .8);
  border-radius: 5px;
  padding: 5px;
  color: floralwhite;
  font-size: 13px;
}

.label {
  white-space: nowrap;
}

.form-row {
  padding: 10px;
}

.form-row input {
  border-radius: 5px;
  height: 20px;
}

.form-row input {
  width: 100%;
}

.form-button {
  text-align: center;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.form-button>input[type=submit] {
  font-size: 18px;
  cursor: pointer;
  background: rgba(118, 199, 198, 1);
  color: white;
  border-radius: 5px;
  border: 2px;
  padding: 10px 20px;
}

.form-button>input[type=submit]:hover {
  background: rgba(39, 61, 59, 1);
}

.link-banner {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 150px;
}

.link-button {
  background: rgba(19, 25, 25, .4);
  border-radius: 5px;
  line-height: 150px;
  margin: 10px;
  text-align: center;
  padding: 60px 19px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.link-button:hover {
  background: rgba(19, 25, 25, 1);
  border-radius: 5px;
  font-weight: bold;
}

.rewards-list {
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
}

.rewards-list>ul {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.rewards-list>ul>li {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background: rgba(227, 92, 20, .2);
  border-radius: 5px;
  text-align: center;
}

.rewards-list a {
  font-size: 40px;
  text-decoration: none;
}

.rewards-list a:hover {
  background: rgba(19, 25, 25, .4);
  border-radius: 5px;
}

.table {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(227, 92, 20, .8);
  border-radius: 20px;
  padding: 20px;
  color: rgba(39, 61, 59, .8);
  color: floralwhite;
}

.table table {
  width: 100%;
}

.table h1 {
  font-size: 30px;
  width: 100%;
}

.table th {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.table tr {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.table tr td {
  border: 2px floralwhite solid;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
}

.center {
  text-align: center;
}

.button-pair {
  display: inline-flex;
  justify-content: space-around;
}

.button-pair a {
  width: 50%;
  font-size: 18px;
}

.rewards-list ul>li>ul>li,
.reward-info>ul>li {
  font-size: 24px;
  text-align: center;
  background: rgba(193, 225, 237, .7);
  border-radius: 5px;
  margin: 10px 0;
}

.rewards-list img {
  border-radius: 5px;
  size: 50%;
}

.reward-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  width: 40%;
  background: rgba(227, 92, 20, .5);
  border-radius: 5px;
}

.reward-info a,
.button-pair a {
  background: rgba(118, 199, 198, .9);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 5px;
  color: black;
}

.reward-info a:hover,
.button-pair a:hover {
  background: rgba(193, 225, 237, 1);
}

img {
  margin: 4px auto;
  border-radius: 5px;
  width: 50%;
}

.users-list {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.users-list>ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.users-list h2 {
  font-size: 24px;
}

.users-list a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.users-list a:hover {
  font-weight: bold;
  background: rgba(19, 25, 25, .4);
  border-radius: 5px;
  color: floralwhite;
}

.user-info {
  display: flex;
  width: 30%;
  flex-direction: column;
  background: rgba(227, 92, 20, .5);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.user-show {
  display: flex;
  width: 50%;
  margin: 5px auto;
  flex-direction: column;
  background: rgba(227, 92, 20, .5);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.user-show header {
  margin: 20px 0;
}

.user-show li {
  margin: 10px 0;
}

a {
  color: inherit;
  text-decoration: none;
}