%header.center How many points to add or delete?

.new-user
  = form_for [:admin, @user] do |f|
    .label
      = f.label :points
    .form-row
      = f.number_field :points, value: nil

    .label
      Start the number with "-" to take away points 

    .form-button
      = f.submit "Update Points"